
div#header {
background-color: #3b477b;
  color: #fff;
  font-size: 36px;
  height: 50px;
  text-align: -webkit-center;
  width: 100%;
  text-align: center;
}

body {
  font-family: "Times New Roman";
  background-image: url(pic3.jpg);

}

div.form-style {
  background-color: rgb(231, 229, 229);
  box-shadow: rgba(0, 0, 0, .22) 0 0 15px;
  color: #000;
  font-family: "Open Sans Condensed",arial,sans;
  margin: 50px auto;
  padding: 30px;
  width: 500px;
}

div.form-style h2 {
  background-color: #004159;
  color: #fff;
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 18px;
  font-weight: 100;
  margin: -30px -30px 30px;
  padding: 20px;
}

div.form-style form {
  color: #000;
  font-family: "Open Sans Condensed",arial,sans;
}

div.form-style form table {
  border-spacing: 2px;
  color: #000;
  font-family: "Open Sans Condensed",arial,sans;
}

div.form-style table tbody {
  border-spacing: 2px;
  color: #000;
  font-family: "Open Sans Condensed",arial,sans;
}

div.form-style tbody tr {
  border-spacing: 2px;
  color: #000;
  font-family: "Open Sans Condensed",arial,sans;
}

div.form-style tr td {
  border-spacing: 2px;
  color: #000;
  font-family: "Open Sans Condensed",arial,sans;
}

div.input-group {
  border-spacing: 2px;
  color: #000;
  font-family: "Open Sans Condensed",arial,sans;
  margin: 10px 0;
}

div.form-style div.input-group input {
  border: 1px solid gray;
  border-radius: 5px;
  border-spacing: 2px;
  color: #000;
  cursor: text;
  font-family: Arial;
  font-size: 16px;
  height: 30px;
  padding: 5px 10px;
  width: 93%;
}

span#gen {
  border-spacing: 2px;
  color: #000;
  font-family: "Open Sans Condensed",arial,sans;
}

input#male {
  border-spacing: 2px;
  color: #000;
  cursor: default;
  font-family: Arial;
  font-size: 13.3333px;
}

input#female {
  border-spacing: 2px;
  color: #000;
  cursor: default;
  font-family: Arial;
  font-size: 13.3333px;
}

textarea.textarea-field {
  border-radius: 5px;
  border-spacing: 2px;
  color: #000;
  cursor: text;
  font-family: monospace;
  font-size: 13.3333px;
  height: 100px;
  white-space: pre-wrap;
  width: 230px;
  word-wrap: break-word;
}

select#country {
  border: 1px solid #ccc;
  border-radius: 4px;
  border-spacing: 2px;
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: Arial;
  font-size: 13.3333px;
  margin-bottom: 16px;
  margin-top: 6px;
  padding: 12px;
  resize: vertical;
  white-space: pre;
  width: 95%;
}

div.form-style select#country option {
  border-spacing: 2px;
  color: #000;
  cursor: default;
  font-family: Arial;
  font-size: 13.3333px;
  white-space: nowrap;
}

button#btn{
  background-color: #3b477b;
  border-radius: 5px;
  border-spacing: 2px;
  border-style: none;
  color: #fff;
  cursor: default;
  font-family: Arial;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  white-space: pre;
}