div.form-box2 {

     background-color: ;
     font-family: 'Open Sans', sans-serif;
     display:block;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     margin: 0;
     margin-left: 30%;
     margin-top: 10%;
}
h2.adm{
     color: #333;
     font-family: "Helvetica Neue", Arial, sans-serif;
     font-size: 24px;
     font-weight: 700;
     line-height: 29.544px;
     margin-top: 0;
     margin-bottom: 2%;
     margin-right: 55%;
}


dl {
     background-image: url(/img/navbar-border.png);
     background-position: left bottom;
     background-repeat: repeat no-repeat;
     color: #333;
     font-family: "Helvetica Neue", Arial, sans-serif;
     font-size: 12px;
     line-height: 14.772px;
     margin: 20px 0;
     overflow: auto;
     padding: 10px 0;
}

dl dt {
     clear: both;
     color: #333;
     float: left;
     font-family: "Helvetica Neue", Arial, sans-serif;
     font-size: 12px;
     font-weight: 700;
     line-height: 14.772px;
     width: 120px;
}

dd.section.title {
     color: #333;
     float: left;
     font-family: "Helvetica Neue", Arial, sans-serif;
     font-size: 12px;
     line-height: 14.772px;
     margin-bottom: 20px;
     margin-left: 15px;
     overflow: visible;
     width: 720px;
}



input.required.wide.error {
     border-color: #9c9c9c #9c9c9c #ccc #ccc;
     border-style: solid;
     border-width: 1px;
     color: #333;
     cursor: text;
     font-family: "Helvetica Neue", Arial, sans-serif;
     font-size: 16px;
     margin-bottom: 0;
     padding: 5px 3px;
     width: 510px;
}

input.required.wide.error:-webkit-input-placeholder {
     color: #b0b0b0;
}

input.required.wide.error:focus {
     border-color: #50a1e6;
     box-shadow: #b4d7f9 0 0 5px;
     outline: medium none;
     transition: all .4s;
}

dd.section.description {
     color: #333;
     float: left;
     font-family: "Helvetica Neue", Arial, sans-serif;
     font-size: 12px;
     line-height: 14.772px;
     margin-bottom: 20px;
     margin-left: 15px;
     overflow: visible;
     width: 720px;
}

textarea.wide {
     border-color: #9c9c9c #9c9c9c #ccc #ccc;
     border-style: solid;
     border-width: 1px;
     color: #333;
     cursor: text;
     font-family: "Helvetica Neue", Arial, sans-serif;
     font-size: 12px;
     height: 50px;
     margin-bottom: 0;
     overflow: auto;
     padding: 3px;
     white-space: pre-wrap;
     width: 510px;
     word-wrap: break-word;
}

dd.section.images.no-arts {
     color: #333;
     float: left;
     font-family: "Helvetica Neue", Arial, sans-serif;
     font-size: 12px;
     line-height: 14.772px;
     margin-bottom: 20px;
     margin-left: 15px;
     overflow: visible;
     width: 720px;
}






dl dd.section.images.no-arts ol {
     color: #333;
     float: left;
     font-family: "Helvetica Neue", Arial, sans-serif;
     font-size: 12px;
     line-height: 14.772px;
     list-style: none;
     list-style: none;
     margin: 0;
     padding: 0;
}


div.art-wrapper.no-image {
     border: 1px dashed #999;
     color: #333;
     font-family: "Helvetica Neue", Arial, sans-serif;
     font-size: 12px;
     height: 46px;
     line-height: 14.772px;
     list-style: none;
     position: absolute;
     text-align: center;
     width: 62px;
}


a.add {
     color: #0687f5;
     cursor: pointer;
     display: inline-block;
     font-family: "Helvetica Neue", Arial, sans-serif;
     font-size: 12px;
     height: 46px;
     line-height: 46px;
     list-style: none;
     margin: 0;
     text-align: center;
     text-decoration: none;
     width: 62px;
}

a.add:hover {
     text-decoration-line: underline;
}


dl ol li {
     color: #333;
     display: inline-block;
     font-family: "Helvetica Neue", Arial, sans-serif;
     font-size: 12px;
     height: 48px;
     line-height: 14.772px;
     list-style: none;
     margin: 0 10px 0 0;
     position: relative;
     text-align: left;
     width: 64px;
}

div#submit-buttons {
     color: #333;
     font-family: "Helvetica Neue", Arial, sans-serif;
     font-size: 12px;
     line-height: 14.772px;
     margin-left: 138px;
}



a#submit-progress:hover {
     text-decoration-line: underline;
}

a#submit-button {
     background-color: #0687f5;
     border: 1px solid #2072b8;
     color: #fff;
     cursor: pointer;
     display: inline-block;
     font-family: "Helvetica Neue", Arial, sans-serif;
     font-size: 14px;
     font-weight: 700;
     line-height: 30px;
     margin-right: 30px;
     text-align: center;
     text-decoration: none;
     width: 100px;
}

a#submit-button:hover {
     text-decoration-line: underline;
}

a.cancel {
     color: #0687f5;
     cursor: pointer;
     font-family: "Helvetica Neue", Arial, sans-serif;
     font-size: 12px;
     line-height: 14.772px;
     text-decoration: none;
}

a.cancel:hover {
     text-decoration-line: underline;
}

.msgs {
     display: flex;
     flex-direction: column;
     width: 500px;
     height: 800px;
     position: absolute;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     margin: auto;
     margin-top: 128px;
}

.msg-container {
     position: relative;
     height: 200px;
}

.successfully-saved {
     display: none;
     color: #1B7C18;
     border-radius: 5px;
     border: 2px solid #1B7C18;
     padding: .5em .75em;
     background: #D6F8DD;
     width: 25%;
     margin-top: 20px;

}


/* alart  */
.spinner {
     display: inline-block;
     margin: 0 8px;
     border-radius: 50%;
     width: 1.5em;
     height: 1.5em;
     border: .215em solid transparent;
     vertical-align: middle;
     font-size: 16px;
     border-top-color: white;
     animation: spin 1s cubic-bezier(.55, .15, .45, .85) infinite;
}

.btn {
     min-width: 170px;
     min-height: 42px;
     padding: 0 14px;
     position: relative;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     border-radius: 8px;
     font-weight: 500;
     color: white;
     box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
          0 4px 6px -2px rgba(0, 0, 0, 0.05);
     transition: background-color 120ms;
     overflow: hidden;

     &:focus {
          outline: none;
     }

     &:hover,
     &:focus {
          background-color: #7f9cf5;
     }

     &,
     &:active {
          background-color: #667eea;
     }

     svg {
          filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, .4));
     }
}

.v-btn-label-enter-active {
     animation: slide-in-down 260ms cubic-bezier(.0, .0, .2, 1);
}

.v-btn-label-leave-active {
     animation: slide-out-down 260ms cubic-bezier(.4, .0, 1, 1);
}


@keyframes spin {
     0% {
          transform: rotate(0deg);
     }

     100% {
          transform: rotate(360deg);
     }
}

@keyframes slide-in-down {
     0% {
          transform: translateY(-20px);
          opacity: 0;
     }

     50% {
          opacity: .8;
     }

     100% {
          transform: translateY(0);
          opacity: 1;
     }
}

@keyframes slide-out-down {
     0% {
          transform: translateY(0);
          opacity: 1;
     }

     40% {
          opacity: .2;
     }

     100% {
          transform: translateY(20px);
          opacity: 0;
     }
}