div.form-box-1 {

     background-image: linear-gradient(-45deg,  #fcda00);
     font-family: 'Open Sans', sans-serif;
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 55vh;
     margin: 0;



}


div.content {
     box-sizing: border-box;
     color: #070707;
     font-family: Roboto, sans-serif;
     font-size: 14px;
     margin: 10px;
     top: 60px;
     padding: 20px;
     position: relative;
     text-align: center;
    
}

div.cover-block {
     box-sizing: border-box;
     color: #bcc7d4;
     font-family: Roboto, sans-serif;
     font-size: 14px;
     margin: 10px;
     padding: 30px;
     text-align: center;
}

img.cover {
     border-radius: 500px;
     border-style: none;
     box-sizing: border-box;
     color: #bcc7d4;
     font-family: Roboto, sans-serif;
     font-size: 14px;
     margin: auto;
     max-width: 150px;
     overflow: hidden;
     position: relative;
     text-align: center;
     vertical-align: middle;
     width: 100%;
}

img.cover:after {
     content: "";
     display: block;
     padding-bottom: 100%;
}

div.user-data {
     align-items: center;
     box-sizing: border-box;
     color: #7e8893;
     display: flex;
     font-family: Roboto, sans-serif;
     font-size: 13px;
     justify-content: flex-start;
     margin: 0;
     padding: 0;
     position: relative;
     text-align: center;
}

@media (min-width: 568px) {
     div.user-data {
          padding: 0 30px;
     }
}

div.wrap {
     box-sizing: border-box;
     color: #7e8893;
     font-family: Roboto, sans-serif;
     font-size: 13px;
     margin: 20px auto 0;
     padding: 0;
     text-align: center;
}

h1.username {
     box-sizing: border-box;
     color: #7e8893;
     font-family: Roboto, sans-serif;
     font-size: 26px;
     font-weight: 400;
     margin: 0 0 10px;
     padding: 0;
     text-align: center;
}

div.wrap div {
     box-sizing: border-box;
     color: #7e8893;
     font-family: Roboto, sans-serif;
     font-size: 13px;
     margin: 0 0 10px;
     padding: 0;
     text-align: center;
}

div.mini-data.left {
     background-color: #2b2e36;
     border-radius: 40px;
     box-sizing: border-box;
     color: #7e8893;
     display: inline-block;
     font-family: Roboto, sans-serif;
     font-size: 12px;
     margin: 10px 5px 0 0;
     padding: 2px 15px;
     text-align: center;
}

div.mini-data.left:last-child {
     margin-right: 0;
}

div.content div.mini-data.left span {
     box-sizing: border-box;
     color: #bcc7d4;
     font-family: Roboto, sans-serif;
     font-size: 12px;
     margin-right: 5px;
     text-align: center;
}

p.bio {
     box-sizing: border-box;
     color: #7e8893;
     font-family: Roboto, sans-serif;
     font-size: 13px;
     margin: 20px 0 0;
     padding: 0;
     text-align: center;
     white-space: pre-line;
}


div. {
     box-sizing: border-box;
     color: #6f6f6f;
     font-family: Poppins, sans-serif;
     line-height: 24px;
     padding-left: 15px;
     padding-right: 15px;
     position: relative;
     text-align: left;
     width: 100%;
}

@media (min-width: 768px) {
     div.col-lg-9.col-md-12 {
          flex: 0 0 100%;
          max-width: 100%;
     }
}

@media (min-width: 992px) {
     div.col-lg-9.col-md-12 {
          flex: 0 0 75%;
          max-width: 75%;
     }
div.moref.h3 {
     color: #000;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 123.1%;
     font-weight: 700;
     line-height: 18.1843px;
}