/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

.selling {
     display: flex;
     position:marge;

}
h3.section-title {
     color:#62a6dd;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 24px;
     font-weight: 1000;
     line-height: 58px;
     margin: 10 0 18px;
     text-transform: uppercase;
}

@media (max-width: 740px) {

     .salesfeed .section-title,
     .notable .section-title,
     .bcdaily .section-title,
     .tags .section-title {
          color: #4093a9;
     }

     .section-title {
          margin: 0 0 18px;
     }
}




/* Design */
*,
*::before,
*::after {
     box-sizing: border-box;
}

.main {
     max-width: 1200px;
     margin: 0 auto;
}

img {
     height: auto;
     max-width: 100%;
     vertical-align: middle;
}

.btn {
     color: #100c0c;
     padding: 0.8rem;
     font-size: 14px;
     text-transform: uppercase;
     border-radius: 20px;
     font-weight: 400;
     display: block;
     width: 50%;
     cursor: pointer;
     border: 2px solid rgba(255, 255, 255, 0.2);
     background: transparent;
}

.btn:hover {
     background-color: rgba(8, 8, 8, 0.12);
}

.cards {
     display: flex;
     flex-wrap: wrap;
     list-style: none;
     margin: 0;
     padding: 0;
}

.cards_item {
     margin-left: auto;
     margin-right: auto;
     display: flex;
     padding: 1rem;
}

@media (min-width: 40rem) {
     .cards_item {
          width: 50%;
     }
}

@media (min-width: 56rem) {
     .cards_item {
          width: 33.3333%;
     }
}

.card {
     background-color: rgb(96, 147, 192);
     border-radius: 0.25rem;
     box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
     display: flex;
     flex-direction: column;
     overflow: hidden;
     border-radius: 20px;
}

.card_content {
     padding: 1rem;
     background: linear-gradient(to bottom left, #1b0b0b 40%, #672b0a 100%);
}

.card_title {
     color: #fcf6f6;
     font-size: 1.1rem;
     font-weight: 700;
     letter-spacing: 1px;
     text-transform: capitalize;
     margin: 0px;
}

.card_text {
     font-family: "Artlist Sans", sans-serif;
     color: #f8f6f6;
     font-size: 0.875rem;
     line-height: 1.5;
     margin-bottom: 1.25rem;
     font-weight: 400;
}

.container {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     text-align: center;
}

.content {
     color: #ecf9ff;
     font-weight: bold;
}



.button {
     font-family: sans-serif;
     font-weight: 700;
     width: 120px;
     height: 40px;
     color: white;
     background-color: #232527;
     border-radius: 10px;
     transition: ease-out 0.3s;
     font-size: 1rem;
     outline: none;
     animation: glow 1s infinite;
     cursor: pointer;
}

@keyframes glow {
     0% {
          box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
     }

     50% {
          box-shadow: 5px 5px 20px rgb(119, 240, 228), -5px -5px 20px rgb(81, 224, 210)
     }

     100% {
          box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168)
     }
}

/* pages s */

div.pagination {
     align-items: center;
     box-sizing: border-box;
     color: #bcc7d4;
     display: flex;
     font-family: Roboto, sans-serif;
     font-size: 14px;
     justify-content: space-between;
     margin: 30px 0 0;
     padding: 0;
     position: relative;
     text-align: center;
     width: 50%;
     bottom: 10px;
     left: 26%;
}

div.prev {
     background-color: #311e1e;
     border-radius: 8px;
     box-sizing: border-box;
     color: #ffffff;
     cursor: pointer;
     display: inline-block;
     font-family: Roboto, sans-serif;
     font-size: 14px;
     margin: 0 2px 0 0;
     max-width: 25%;
     padding: 20px;
     text-align: center;
     vertical-align: middle;
     width: 15%;
}

@media (min-width: 0) and (max-width: 567px) {
     div.prev {
          max-width: 100%;
          width: 100%;
     }
}

div.numbersContainer {
     box-sizing: border-box;
     color: #87b5ed;
     font-family: Roboto, sans-serif;
     font-size: 14px;
     margin: 0;
     padding: 0;
     text-align: center;
}

div.paginationNumbers.current-page {
     background-color: #353333;
     border-radius: 8px;
     box-sizing: border-box;
     color: #f9f9f9;
     cursor: pointer;
     display: inline-block;
     font-family: Roboto, sans-serif;
     font-size: 14px;
     margin: 0 2px;
     max-width: 100px;
     padding: 20px;
     text-align: center;
     vertical-align: middle;
}

div.paginationNumbers.current-page:first-child {
     margin-left: 5px;
}

@media (min-width: 0) and (max-width: 567px) {
     div.paginationNumbers.current-page {
          display: none;
     }
}

div.paginationNumbers {
     background-color: #2c1818;
     border-radius: 8px;
     box-sizing: border-box;
     color: #c2c4c6;
     cursor: pointer;
     display: inline-block;
     font-family: Roboto, sans-serif;
     font-size: 14px;
     margin: 0 2px;
     max-width: 100px;
     padding: 20px;
     text-align: center;
     vertical-align: middle;
}

@media (min-width: 0) and (max-width: 567px) {
     div.paginationNumbers {
          display: none;
     }
}

div.next {
     background-color: #291c1c;
     border-radius: 8px;
     box-sizing: border-box;
     color: #fcfcfd;
     cursor: pointer;
     display: inline-block;
     font-family: Roboto, sans-serif;
     font-size: 14px;
     margin: 0 2px 0 0;
     max-width: 25%;
     padding: 20px;
     text-align: center;
     vertical-align: middle;
     width: 15%;
}

@media (min-width: 0) and (max-width: 567px) {
     div.next {
          max-width: 100%;
          width: 100%;
     }
}

/* pages s */