/*contact us*/
.contact h1 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}

.contact input[type=text], input[type=tel], input[type=date], input[type=email], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(165, 165, 165);
    color: black;
    border-radius: 18px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: vertical;
  }

 .contact input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 18px; 
    cursor: pointer;
    float: right;
    margin-top: -3%;
  }
  
  .contact input[type=submit]:hover {
    background-color: #45a049;
    border-radius: 18px; 
  }
  
  .contact {
    border-radius: 5px;
    background-color: #ebebeb;
    padding: 5px 20px 40px 20px;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 3rem;
  }

  .contact .label-text {
    color: black;
    font-weight: bold;
    margin-top: 10px;
  }