div.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top:100px;
}

.block {
  margin-right: 100px;
  display: block;
  border-radius: 16px;
  width: 100%;
  border: none;
  background-color: #318CE7;
  color: white;
  padding: 24px 28px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #007FFF;
  color: black;
  transform: scale(1.1);
}

div.jobsubmit{
  margin-right: 30px;
  display: block;
  border-radius: 16px;
  width: 100%;
  border: none;
  background-color: #318CE7;
  color: white;
  padding: 12px 28px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}
div.left-jobcontainer {
    display: block;
    padding: 24px 28px;
    cursor: pointer;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #edf1ff;
    font-size: 16px;
    resize: none;
    margin-top:100px;
    color: black;
    }
    
div.worktype {
    box-sizing: border-box;
    border: 2px solid #ccc;
    color: black;
    background-color: #edf1ff;
}
    
div.personaldetails {
    box-sizing: border-box;
    border: 2px solid #ccc;
    color: black;
    background-color: #edf1ff;
    margin-top: 50px;
    margin-bottom: 50px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

div.jobsubmit {
    margin-right: 30px;
    display: block;
    border-radius: 16px;
    width: 100%;
    border: none;
    background-color: #318CE7;

    padding: 12px 28px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

jobsubmit:hover {
    background-color: #007FFF;
    color: black;
    transform: scale(1.1);
}