div.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top:100px;
}

.block {
  margin-right: 100px;
  display: block;
  border-radius: 16px;
  width: 100%;
  border: none;
  background-color: #318CE7;
  color: white;
  padding: 24px 28px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #007FFF;
  color: black;
  transform: scale(1.1);
}

.blockcreate {
  margin-right: 30px;
  display: block;
  border-radius: 16px;
  width: 100%;
  border: none;
  background-color: #318CE7;
  color: white;
  padding: 12px 28px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.blockcreate:hover {
  background-color: #007FFF;
  color: black;
  transform: scale(1.1);
}

.letter {
  color: black;
  text-align:center;
}
