:root {
     --succes-color: #2ecc71;
     ;
     --error-color: #e74c3c;
}


* {
     box-sizing: border-box;
}

div.form-box {

     background-image: linear-gradient(-45deg, #00ef86, #008cff, #ec3258, #fcda00);
     font-family: 'Open Sans', sans-serif;
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     margin: 0;
}

.container {
     background-color: rgba(20, 27, 41, .92);
     border-radius: 1em;
     border-width: 0;
     box-shadow: rgba(0, 0, 0, .8) 0 3px 8px 0;
     box-sizing: border-box;
     color: #fff;
     display:block;
     font-family: "Helvetica Neue",
     Helvetica,
     Arial,
     sans-serif;
     width: 400px;
     margin-top: 8%;
     margin-bottom: 10%;
     align-items: center;
}

h2 {
     text-align: center;
     margin: 0 0 20px;
}

.form {
     padding: 30px 40px;
}

.form-control {
     margin-bottom: 10px;
     padding-bottom: 20px;
     position: relative;
}

.form-control label {
     color: #777;
     display: block;
     margin-bottom: 5px;
     box-sizing: border-box;
     color: #fff;
     cursor: default;
     display:flex;
     font-family: "Helvetica Neue",
     Helvetica,
     Arial,f
     sans-serif;
     font-variant: common-ligatures;
     font-weight: 700;
     line-height: 14.994px;
}

.form-control input {
     border: 2px solid #f0f0f0;
     background-color: #f5f5f5;
     box-shadow: rgba(0, 0, 0, .05) 0 1px 2px inset;
     border-radius: 4px;
     box-sizing: border-box;
     color:#000;
     display: block;
     width: 100%;
     cursor: default;
     display: inline-block;
     font-family: "Helvetica Neue",
     Helvetica,
     Arial,
     sans-serif;
     padding: 10px;
     font-size: 13px;
}

.form-control input:focus {
     outline: 0;
     border-color:#fff;

}

.form-control.success input {
     border-color: var(--succes-color);
}

.form-control.error input {
     border-color: var(--error-color);
}

.form-control small {
     color: var(--error-color);
     position: absolute;
     bottom: 0;
     left: 0;
     visibility: hidden;
}

.form-control.error small {
     visibility: visible;
}

.form button {
     cursor: pointer;
     background-color: #ef672a;
     border: 2px solid #ef672a;
     border-radius: 10px;
     color: #fff;
     display: block;
     padding: 10px;
     font-family: "Open Sans",
     sans-serif;
     text-transform: uppercase;
     font-weight: 600;
     font-size: 16px;
     margin-top: 20px;
     width: 100%;
}



