*,
*:before,
*:after {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

form.ff {
     height: 520px;
     width: 400px;
     background-color: rgba(20, 27, 41, .92);
     position: absolute;
     transform: translate(-50%, -50%);
     top: 50%;
     left: 50%;
     border-radius: 10px;
     backdrop-filter: blur(30px);
     -webkit-backdrop-filter: blur(30px);
     border: 2px solid rgba(41, 38, 38, 0.1);
     box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
     padding: 50px 35px;
}

@media (prefers-color-scheme: dark) {
     form * {
          color: #ffffff;
     }
}

form h3 {
     font-size: 32px;
     font-weight: 500;
     line-height: 42px;
     text-align: center;
}

label.ff {
     display: block;
     margin-top: 20px;
     margin-bottom: 20px;
     font-size: 16px;
     font-weight: 500;
}

input.ff {
     height: 50px;
     width: 100%;
     background-color: #716d6d;
     border-radius: 3px;
     padding: 0 10px;
     margin-top: 8px;
     font-size: 14px;
     font-weight: 300;
}

::placeholder {
     color: #d6d3d3;
}

@media (prefers-color-scheme: dark) {
     ::placeholder {
          color: #070707;
     }
}

button.bb{
     margin-top: 50px;
     width: 100%;
     background-color: #aeacf8;
     color: #080710;
     padding: 15px 0;
     font-size: 18px;
     font-weight: 600;
     border-radius: 5px;
     cursor: pointer;
}

.social {
     margin-top: 30px;
     display: flex;
}

.social div {
     width: 150px;
     border-radius: 3px;
     padding: 5px 10px 10px 5px;
     background-color: rgba(255, 233, 233, 0.27);
     color: #f3f0ea;
     text-align: center;
}

@media (prefers-color-scheme: dark) {
     .social div {
          color: #fb9d78;
     }

     body {
          background: #0f78b8;
     }
}

.social div:hover {
     background-color: rgba(61, 101, 244, 0.47);
     cursor: pointer;
}

.social .fb {
     margin-left: 25px;
}

.social i {
     margin-right: 4px;
}