* {
     margin: 0;
     padding: 0;
     font-family: sans-serif;
     letter-spacing: 1px;
     font-weight: 300;
}

body {
     font-family: Roboto,sans-serif;
     background: #f2f2f2;
     font-family: 'Montserrat', sans-serif;
     color: #fff;
}


nav {
     height: 6rem;
     width: 100vw;
     background-color: #070707;;
     box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
     display: flex;
     position: fixed;
     z-index: 10;
     top: 0;
}

/*Styling logo*/
.logo {
     padding: 1vh 1vw;
     text-align: center;
}

.logo img {
     height: 6rem;
     width: 6rem;
}

/*Styling Links*/
.nav-links {
     display: flex;
     list-style: none;
     width: 88vw;
     padding: 0 0.7vw;
     justify-content: space-evenly;
     align-items: center;
     text-transform: uppercase;
}

.nav-links li a {
     text-decoration: none;
     margin: 0 0.7vw;
     color: white;
}

.nav-links li a:hover {
     color: #61DAFB;
}

.nav-links li {
     position: relative;
}


.nav-links li a:hover::before {
     width: 80%;
}

/*Styling Buttons*/
.login-button {
     background-color: transparent;
     border: 1.5px solid #f2f5f7;
     border-radius: 2em;
     padding: 0.6rem 0.8rem;
     margin-left: 2vw;
     font-size: 1rem;
     cursor: pointer;

}

.login-button:hover {
     color: #131418;
     background-color: #f2f5f7;
     border: 1.5px solid #f2f5f7;
     transition: all ease-in-out 350ms;
}

.join-button {
     color: #131418;
     background-color: #61DAFB;
     border: 1.5px solid #61DAFB;
     border-radius: 2em;
     padding: 0.6rem 0.8rem;
     font-size: 1rem;
     cursor: pointer;
}

.join-button:hover {
     color: #f2f5f7;
     background-color: transparent;
     border: 1.5px solid #f2f5f7;
     transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
     width: 30px;
     height: 3px;
     background: #f2f5f7;
     margin: 5px;
     transition: all 0.3s ease;
}

.hamburger {
     display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
     nav {
          position: fixed;
          z-index: 3;
     }

     .hamburger {
          display: block;
          position: absolute;
          cursor: pointer;
          right: 5%;
          top: 50%;
          transform: translate(-5%, -50%);
          z-index: 2;
          transition: all 0.7s ease;
     }

     .nav-links {
          position: fixed;
          background: #131418;
          height: 100vh;
          width: 100%;
          flex-direction: column;
          clip-path: circle(50px at 90% -20%);
          -webkit-clip-path: circle(50px at 90% -10%);
          transition: all 1s ease-out;
          pointer-events: none;
     }

     .nav-links.open {
          clip-path: circle(1000px at 90% -10%);
          -webkit-clip-path: circle(1000px at 90% -10%);
          pointer-events: all;
     }

     .nav-links li {
          opacity: 0;
     }

     .nav-links li:nth-child(1) {
          transition: all 0.5s ease 0.2s;
     }

     .nav-links li:nth-child(2) {
          transition: all 0.5s ease 0.4s;
     }

     .nav-links li:nth-child(3) {
          transition: all 0.5s ease 0.6s;
     }

     .nav-links li:nth-child(4) {
          transition: all 0.5s ease 0.7s;
     }

     .nav-links li:nth-child(5) {
          transition: all 0.5s ease 0.8s;
     }

     .nav-links li:nth-child(6) {
          transition: all 0.5s ease 0.9s;
          margin: 0;
     }

     .nav-links li:nth-child(7) {
          transition: all 0.5s ease 1s;
          margin: 0;
     }

     li.fade {
          opacity: 1;
     }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
     transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
     transition: all 0.7s ease;
     width: 0;
}

.toggle .line3 {
     transform: rotate(45deg) translate(-5px, -6px);
}

/* sliding show */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}



.intro {
     height: 100vh;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     letter-spacing: 0.1rem;
}

.intro-slideshow img {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
     height: 100%;
     /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */
     object-fit: cover;
     z-index: -1;
     /* filter: brightness(50%); */
     /* 0% black, 100% original image, values > 100% are allowed for brighter than original image. */
     /* display: none; */
     opacity: 0;
     transition: opacity 0.75s ease-in-out;
}

/* search bar */
li.search {
     background-color: #fff;
     background-image: url(https://2.bp.blogspot.com/-JZVmfBc5yjI/Wjj88dTUfsI/AAAAAAAATBc/6qZukuzmyU8HdGC7sR8ymW6Fb5lGPIMwQCLcBGAs/s1600/search.png);
     background-position: 99% 50%;
     background-repeat: no-repeat no-repeat;
     border: 1px solid #ddd;
     box-sizing: border-box;
     color: rgb(82, 78, 78);
     font-family: Domine, Arial, Helvetica, sans-serif;
     font-size: 100%;
     font-weight: 400;
     line-height: 18.2px;
     list-style: none;
     margin: 0;
     outline: 0;
     overflow: hidden;
     padding: 6px 24px 6px 6px;
     text-align: left;
     vertical-align: baseline;
     word-break: break-word;
     word-wrap: break-word;
}

form.searchform {
     border-width: 0;
     box-sizing: inherit;
     color: #333;
     font-family: inherit;
     font-size: 100%;
     font-style: inherit;
     font-weight: inherit;
     line-height: 18.2px;
     list-style: none;
     margin: 0;
     outline: 0;
     padding: 0;
     text-align: left;
     vertical-align: baseline;
     word-break: break-word;
     word-wrap: break-word;
}

input#s {
     background-color: initial;
     background-image: none;
     border-radius: 3px;
     border-width: 0;
     box-sizing: inherit;
     color: rgb(121, 120, 120);
     cursor: text;
     font-family: inherit;
     font-size: 100%;
     font-stretch: inherit;
     font-style: inherit;
     font-variant-caps: inherit;
     font-variant-east-asian: inherit;
     font-variant-ligatures: inherit;
     font-variant-numeric: inherit;
     font-weight: inherit;
     line-height: normal;
     list-style: none;
     margin: 0;
     outline: none;
     padding: 0;
     vertical-align: baseline;
     width: 100%;
     word-break: break-word;
     word-wrap: break-word;
}


/* Search bar css done */

 /* note cards start */

 section#home-features.container {
      box-sizing: border-box;
      color: #0f0c0c;
      display: block;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      height: 100%;
      margin: auto auto 30px;
      max-width: 1224px;
      padding: 30px 20px;
      position: relative;
      width: 100%;
      z-index: 1;
 }

 span.cart-counter {
      display: inline-block;
      width: 20px;
      opacity: 50;
      height: px;
      background: #c9002c;
      border-radius: 13px;
      color: #fff;
      box-sizing: border-box;
      cursor: pointer;
      font-family: Arial;
      text-align: center;
      border-radius: 50%;
      margin-left: -5px;
      position: absolute;
      right: 0;
      text-align: center;
      top: -10px;
      left: 15px;
      white-space: nowrap;
      z-index: 2;
 }
 @media (max-width: 768px) {
      .container {
           padding: 0 10px;
      }
 }

 div.grid-2__md-2__sm-1__xs-1__equalHeight {
      box-sizing: border-box;
      color: #2f3031;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      margin: 0 -7.5px;
      padding: 0;
 }

 div.col {
      box-sizing: border-box;
      color: #474045;
      flex: 1 1 50%;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      margin: 0;
      max-width: 50%;
      padding: 7.5px;
 }

 @media screen and (max-width: 1024px) {
      div.col {
           flex-basis: 50%;
           max-width: 50%;
      }
 }

 @media screen and (max-width: 768px) {
      div.col {
           flex-basis: 100%;
           max-width: 100%;
      }
 }

 @media screen and (max-width: 568px) {
      div.col {
           flex-basis: 100%;
           max-width: 100%;
      }
 }

 div.block {
      background-color: rgba(102, 42, 175, 0.1);
      border-radius: 8px;
      box-sizing: border-box;
      color: #303031;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      height: 100%;
      margin: 0;
      overflow: hidden;
      padding: 50px;
      position: relative;
      width: 100%;
 }

 @media (max-width: 768px) {
      div.block {
           padding: 25px;
      }
 }

 svg.icon.big {
      bottom: -30px;
      box-sizing: border-box;
      color: #bcc7d4;
      display: inline;
      fill: #1e2025;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      height: 210px;
      position: absolute;
      right: -50px;
      transition: all 1s;
      width: 210px;
      z-index: 0;
 }

 svg.icon.big:not(:root) {
      overflow: hidden;
 }

 @media (max-width: 568px) {
      svg.icon.big {
           height: 160px;
           width: 160px;
      }
 }

 section#home-features.container svg.icon.big use {
      box-sizing: border-box;
 }

 div.top {
      align-items: center;
      align-self: flex-start;
      box-sizing: border-box;
      color: #bcc7d4;
      display: flex;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      justify-content: flex-start;
      margin: 0;
      padding: 0;
 }

 section#home-features.container div.top h2 {
      box-sizing: border-box;
      color: #6c6e70;
      font-family: Roboto, sans-serif;
      font-size: 20px;
      font-weight: 400;
      margin: 0;
      padding: 0;
 }

 @media (max-width: 568px) {
      section#home-features.container div.top h2 {
           font-size: 16px;
      }
 }

 svg.icon.__d {
      box-sizing: border-box;
      color: #323333;
      display: inline;
      fill: #fff;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      height: 10px;
      margin-left: 10px;
      transition: all .2s;
      width: 10px;
 }

 svg.icon.__d:not(:root) {
      overflow: hidden;
 }

 @media (min-width: 768px) {
      svg.icon.__d {
           display: none;
      }
 }

 section#home-features.container svg.icon.__d use {
      box-sizing: border-box;
 }

 div.content {
      box-sizing: border-box;
      color: #f80808;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      margin: 0;
      padding: 0;
 }

 @media (max-width: 768px) {
      div.content {
           height: 0;
           overflow: hidden;
           transition: all .3s;
      }
 }

 section#home-features.container div.content ul {
      box-sizing: border-box;
      color: #0b0b0b;
      font-family: Roboto, sans-serif;
      font-size: 13px;
      line-height: 24px;
      margin: 16px 0 0;
      padding: 0;
      position: relative;
 }

 section#home-features.container ul li {
      box-sizing: border-box;
      color: #7e8893;
      font-family: Roboto, sans-serif;
      font-size: 13px;
      line-height: 24px;
      list-style: none;
      list-style: none;
      margin: 0 0 0 14px;
      padding: 0;
      position: relative;
      text-align: left;
 }

 section#home-features.container ul li:before {
      background-color: #7e8893;
      border-radius: 50px;
      bottom: 0;
      content: "";
      height: 4px;
      left: -14px;
      margin: auto;
      position: absolute;
      top: 2px;
      width: 4px;
 }

 a.btn.xs.light {
      background-color: #bcbfc5;
      border-radius: 8px;
      box-sizing: border-box;
      color: #1e1e1f;
      cursor: pointer;
      display: inline-block;
      font-family: Roboto, sans-serif;
      font-size: 11px;
      font-weight: 400;
      margin-top: 12px;
      outline: 0;
      padding: 5px 15px;
      text-decoration: none;
      transition: all .2s;
      user-select: none;
 }

 a.btn.xs.light:hover {
      background-color: #124ff9;
      color: #fcfcfc;
 }

 /* note cards end */

/* footer css start */



div.pg-ft {
     -webkit-font-smoothing: antialiased;
     background-color: #343434;
     color: #fff;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     line-height: 16px;
     min-height: 320px;
     padding: 0 0 80px;
}

@media (max-width: 740px) {
     .pg-ft {
          display: none;
     }
}

div.row {
     clear: both;
     color: #fff;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     line-height: 16px;
     margin: 0 auto;
     width: 100%;
}

div.row:after {
     clear: both;
     content: ".";
     display: block;
     height: 0;
     visibility: hidden;
}

@media (max-width: 890px) and (min-width: 741px) {
     div.row {
          max-width: 97%;
     }
}

@media (max-width: 1024px) and (min-width: 891px) {
     div.row {
          max-width: 97%;
     }
}

@media (max-width: 1280px) and (min-width: 1025px) {
     div.row {
          max-width: 994px;
     }
}



div.col.col-3-12 {
     color: #fff;
     float: left;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     line-height: 16px;
     min-height: 1px;
     position: relative;
     width: 20.6162%;
     left: 25%;
}

ul.pg-ft-nav {
     color: #abc1c7;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     line-height: 1.2;
     list-style: none;
     list-style: none;
     margin: 40px 0 0;
     padding: 0;
     text-align: left;
     transition: color .15s;
}

@media (max-width: 740px) {
     ul.pg-ft-nav {
          color: #abc1c7;
          font-size: 14px;
          font-weight: 700;
          line-height: 24px;
          padding: 0 4.265%;
     }

     ul.pg-ft-nav:after {
          clear: both;
          content: ".";
          display: block;
          height: 0;
          visibility: hidden;
     }
}

div.pg-ft ul.pg-ft-nav li {
     color: #abc1c7;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     line-height: 15.6px;
     list-style: none;
     margin: 0 0 13px;
     text-align: left;
}

@media (max-width: 740px) {
     div.pg-ft ul.pg-ft-nav li {
          margin: 0 0 24px;
     }
}

div.pg-ft li a {
     color: #fff;
     cursor: pointer;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     line-height: 15.6px;
     list-style: none;
     text-align: left;
     text-decoration: none;
     transition: color .15s;
}

div.pg-ft li a:focus {
     outline: none;
}

div.pg-ft li a:active {
     outline: 0;
}

div.pg-ft li a:hover {
     outline: 0;
     text-decoration-line: underline;
}

span.nav-label {
     color: #abc1c7;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     line-height: 15.6px;
     list-style: none;
     padding: 0 .3em 0 0;
     text-align: left;
}

ul.pg-ft-nav.connect {
     color: #abc1c7;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     line-height: 1.2;
     list-style: none;
     list-style: none;
     margin: 40px 0 0;
     padding: 0;
     text-align: left;
     transition: color .15s;
}

@media (max-width: 740px) {
     ul.pg-ft-nav.connect {
          color: #abc1c7;
          font-size: 14px;
          font-weight: 700;
          line-height: 24px;
          padding: 0 4.265%;
     }

     ul.pg-ft-nav.connect:after {
          clear: both;
          content: ".";
          display: block;
          height: 0;
          visibility: hidden;
     }
}

div.pg-ft ul.pg-ft-nav.connect li {
     color: #abc1c7;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     line-height: 15.6px;
     list-style: none;
     margin: 0 0 13px;
     text-align: left;
}

@media (max-width: 740px) {
     div.pg-ft ul.pg-ft-nav.connect li {
          margin: 0 0 24px;
     }
}

div.col.col-3-12.offset-3-12 {
     color: #fff;
     float: left;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     line-height: 16px;
     margin-left: %;
     min-height: 1px;
     position: relative;
     width: 23.6162%;
}

li.view-switcher {
     color: #abc1c7;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     line-height: 15.6px;
     list-style: none;
     margin: 0 0 13px;
     text-align: left;
}

@media (max-width: 740px) {
     li.view-switcher {
          margin: 0 0 24px;
     }
}

div.pg-ft li.view-switcher a {
     color: #fff;
     cursor: pointer;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     line-height: 15.6px;
     list-style: none;
     text-align: left;
     text-decoration: none;
     transition: color .15s;
}

div.pg-ft li.view-switcher a:focus {
     outline: none;
}

div.pg-ft li.view-switcher a:active {
     outline: 0;
}

div.pg-ft li.view-switcher a:hover {
     outline: 0;
     text-decoration-line: underline;
}

ul.pg-ft-nav.lang-picker-container {
     color: #abc1c7;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     line-height: 1.2;
     list-style: none;
     list-style: none;
     margin: 40px 0 0;
     padding: 0;
     text-align: left;
     transition: color .15s;
}

@media (max-width: 740px) {
     ul.pg-ft-nav.lang-picker-container {
          color: #abc1c7;
          font-size: 14px;
          font-weight: 700;
          line-height: 24px;
          padding: 0 4.265%;
     }

     ul.pg-ft-nav.lang-picker-container:after {
          clear: both;
          content: ".";
          display: block;
          height: 0;
          visibility: hidden;
     }
}

li#lang-picker-vm.lang-picker {
     background-color: #3a6a77;
     color: #abc1c7;
     display: inline-block;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     line-height: 15.6px;
     list-style: none;
     margin: 0 0 13px;
     padding: 5px 6px;
     position: relative;
     text-align: right;
     transform: translateZ(0);
}

li#lang-picker-vm.lang-picker:hover {
     background-color: #224853;
}

@media (max-width: 740px) {
     li#lang-picker-vm.lang-picker {
          margin: 0 0 24px;
     }
}

span.lang-picker-lang {
     color: #ccc;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     line-height: 15.6px;
     list-style: none;
     text-align: right;
}

a.lang-picker-current-lang {
     color: #fff;
     cursor: pointer;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     line-height: 15.6px;
     list-style: none;
     text-align: right;
     text-decoration: none;
     transition: color .15s;
}

a.lang-picker-current-lang:focus {
     outline: none;
}

a.lang-picker-current-lang:active {
     outline: 0;
}

a.lang-picker-current-lang:hover {
     outline: 0;
     text-decoration-line: underline;
}

ul#lang-picker-content.lang-picker-content.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
     background-color: #224853;
     background-image: none;
     background-position: 50% 50%;
     background-repeat: repeat no-repeat;
     border-radius: 0;
     border-width: 0;
     bottom: 100%;
     color: #222;
     display: none;
     font-family: inherit;
     font-size: inherit;
     line-height: 15.6px;
     list-style: none;
     list-style: none;
     margin: 0;
     outline: none;
     padding: 0;
     position: absolute;
     right: 0;
     text-align: right;
     width: 100%;
}

li.ui-menu-item {
     border-bottom: 1px solid #385a64;
     color: #222;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     line-height: 15.6px;
     list-style: none;
     margin: 0;
     padding: 0;
     text-align: right;
     width: 100%;
     zoom: 1;
}

a#ui-id-1.ui-corner-all {
     border-radius: 0;
     color: #fff;
     cursor: pointer;
     display: block;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     font-weight: 400;
     line-height: 1.5;
     list-style: none;
     padding: 2px .4em;
     text-align: right;
     text-decoration: none;
     transition: color .15s;
     zoom: 1;
}

a#ui-id-1.ui-corner-all:hover {
     outline: 0;
     text-decoration-line: underline;
}

a#ui-id-1.ui-corner-all:focus {
     outline: none;
}

a#ui-id-1.ui-corner-all:active {
     outline: 0;
}

a#ui-id-2.ui-corner-all {
     border-radius: 0;
     color: #fff;
     cursor: pointer;
     display: block;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     font-weight: 400;
     line-height: 1.5;
     list-style: none;
     padding: 2px .4em;
     text-align: right;
     text-decoration: none;
     transition: color .15s;
     zoom: 1;
}

a#ui-id-2.ui-corner-all:hover {
     outline: 0;
     text-decoration-line: underline;
}

a#ui-id-2.ui-corner-all:focus {
     outline: none;
}

a#ui-id-2.ui-corner-all:active {
     outline: 0;
}

/* footer css done */