
/* OUR MARKETPLACE css start */

*,
*::before,
*::after {
  box-sizing: border-box;
}

div.form-box {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6f6f6f;
  text-align: left;
  background-color: #fff;
}

div.container-fluid.bg-secondary.mb-5 {
  background-color: #edf1ff;
  box-sizing: border-box;
  color: #6f6f6f;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  width: 100%;
}

div.d-flex.flex-column.align-items-center.justify-content-center {
  align-items: center;
  box-sizing: border-box;
  color: #6f6f6f;
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  justify-content: center;
  line-height: 24px;
  min-height: 300px;
  text-align: left;
}

h1.font-weight-semi-bold.text-uppercase.mb-3 {
  box-sizing: border-box;
  color: #1c1c1c;
  font-family: Poppins, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 130px;
  text-align: left;
  text-transform: uppercase;
}

a.menubar-add-link {
  -webkit-user-drag: none;
  align-items: center;
  color: rgb(120, 43, 255);
  cursor: pointer;
  display: flex;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  height: 100%;
  line-height: 17.234px;
  list-style: none;
  padding: 0 15px;
  text-align: left;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
}

a.menubar-add-link:focus {
  background-color: #f3f3f3;
  outline: none;
  transition: background .1s ease-out;
}

@media (max-width: 1200px) {
  h1.font-weight-semi-bold.text-uppercase.mb-3 {
    font-size: calc(1.375rem + 1.5vw);
  }
}

div.d-inline-flex {
  box-sizing: border-box;
  color: #6f6f6f;
  display: inline-flex;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  text-align: left;
}


div.container-fluid.bg-secondary.mb-5 p.m-0 a:hover {
  color: #ba6a62;
  text-decoration-line: underline;
}

div.container-fluid.bg-secondary.mb-5 p.m-0 a:not([href]):not([class]) {
  color: inherit;
}

div.container-fluid.bg-secondary.mb-5 p.m-0 a:not([href]):not([class]):hover {
  color: inherit;
}

p.m-0.px-2 {
  box-sizing: border-box;
  color: #6f6f6f;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  margin: 0;
  padding-left: .5rem;
  padding-right: .5rem;
  text-align: left;
}

/* OUR MARKETPLACE css end */

/* body area css start */

div.container-fluid.pt-5 {
  box-sizing: border-box;
  color: #6f6f6f;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3rem;
  text-align: left;
  width: 100%;
}

div.row.px-xl-5 {
  box-sizing: border-box;
  color: #6f6f6f;
  display: flex;
  flex-wrap: wrap;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  margin-left: -15px;
  margin-right: -15px;
  text-align: left;
}

@media (min-width: 1200px) {
  div.row.px-xl-5 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

div.col-lg-3.col-md-12 {
  box-sizing: border-box;
  color: #6f6f6f;
  flex: 0 0 25%;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: left;
  width: 100%;
}

@media (min-width: 768px) {
  div.col-lg-3.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  div.col-lg-3.col-md-12 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

div.border-bottom.mb-4.pb-4 {
  border-bottom: 1px solid #edf1ff;
  box-sizing: border-box;
  color: #6f6f6f;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: left;
}

h5.font-weight-semi-bold.mb-4 {
  box-sizing: border-box;
  color: #1c1c1c;
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 0;
  text-align: left;
}

div.container-fluid.pt-5 div.border-bottom.mb-4.pb-4 form {
  box-sizing: border-box;
}

div.custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3 {
  align-items: center;
  box-sizing: border-box;
  color: #6f6f6f;
  display: flex;
  font-family: Poppins, sans-serif;
  justify-content: space-between;
  line-height: 24px;
  margin-bottom: 1rem;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  position: relative;
  text-align: left;
  z-index: 1;
}

input#price-all.custom-control-input {
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  height: 1.25rem;
  left: 0;
  line-height: inherit;
  margin: 0;
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 1rem;
  z-index: -1;
}

label.custom-control-label {
  box-sizing: border-box;
  color: #272626;
  cursor: default;
  display: inline-block;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  margin-bottom: 0;
  position: relative;
  text-align: left;
  vertical-align: top;
}

label.custom-control-label:before {
  background-color: #fafafa;
  border: 1px solid #18135c;
  color: #fff;
  content: "";
  display: block;
  height: 1rem;
  left: -1.5rem;
  pointer-events: none;
  position: absolute;
  top: .25rem;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 1rem;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}
label.custom-control-label:after {
  background-color: initial;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
  background-position: 50% center;
  background-repeat: no-repeat no-repeat;
  background-size: 50% 50%;
  content: "";
  display: block;
  height: 1rem;
  left: -1.5rem;
  position: absolute;
  top: .25rem;
  width: 1rem;
}



@media (prefers-reduced-motion: reduce) {
  label.custom-control-label:before {
    transition: none 0s;
  }
}


span.badge.border.font-weight-normal {
  border: 1px solid #edf1ff;
  box-sizing: border-box;
  color: #6f6f6f;
  display: inline-block;
  font-family: Poppins, sans-serif;
  font-size: 75%;
  font-weight: 400;
  line-height: 1;
  padding: .25em .4em;
  text-align: center;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  vertical-align: baseline;
  white-space: nowrap;
}

span.badge.border.font-weight-normal:empty {
  display: none;
}



/*  */

@media (prefers-reduced-motion: reduce) {
  span.badge.border.font-weight-normal {
    transition: none 0s;
  }
}

input#price-1.custom-control-input {
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  height: 1.25rem;
  left: 0;
  line-height: inherit;
  margin: 0;
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 1rem;
  z-index: -1;
}

input#price-2.custom-control-input {
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  height: 1.25rem;
  left: 0;
  line-height: inherit;
  margin: 0;
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 1rem;
  z-index: -1;
}

input#price-3.custom-control-input {
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  height: 1.25rem;
  left: 0;
  line-height: inherit;
  margin: 0;
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 1rem;
  z-index: -1;
}

input#price-4.custom-control-input {
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  height: 1.25rem;
  left: 0;
  line-height: inherit;
  margin: 0;
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 1rem;
  z-index: -1;
}

div.custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between {
  align-items: center;
  box-sizing: border-box;
  color: #6f6f6f;
  display: flex;
  font-family: Poppins, sans-serif;
  justify-content: space-between;
  line-height: 24px;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  position: relative;
  text-align: left;
  z-index: 1;
}

input#price-5.custom-control-input {
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  height: 1.25rem;
  left: 0;
  line-height: inherit;
  margin: 0;
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 1rem;
  z-index: -1;
}

input#color-all.custom-control-input {
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  height: 1.25rem;
  left: 0;
  line-height: inherit;
  margin: 0;
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 1rem;
  z-index: -1;
}

input#color-1.custom-control-input {
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  height: 1.25rem;
  left: 0;
  line-height: inherit;
  margin: 0;
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 1rem;
  z-index: -1;
}

input#color-2.custom-control-input {
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  height: 1.25rem;
  left: 0;
  line-height: inherit;
  margin: 0;
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 1rem;
  z-index: -1;
}

input#color-3.custom-control-input {
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  height: 1.25rem;
  left: 0;
  line-height: inherit;
  margin: 0;
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 1rem;
  z-index: -1;
}

input#color-4.custom-control-input {
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  height: 1.25rem;
  left: 0;
  line-height: inherit;
  margin: 0;
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 1rem;
  z-index: -1;
}

input#color-5.custom-control-input {
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  height: 1.25rem;
  left: 0;
  line-height: inherit;
  margin: 0;
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 1rem;
  z-index: -1;
}

div.mb-5 {
  box-sizing: border-box;
  color: #6f6f6f;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  margin-bottom: 3rem;
  text-align: left;
}

div.container-fluid.pt-5 div.mb-5 form {
  box-sizing: border-box;
}

input#size-all.custom-control-input {
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  height: 1.25rem;
  left: 0;
  line-height: inherit;
  margin: 0;
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 1rem;
  z-index: -1;
}

input#size-1.custom-control-input {
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  height: 1.25rem;
  left: 0;
  line-height: inherit;
  margin: 0;
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 1rem;
  z-index: -1;
}

input#size-2.custom-control-input {
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  height: 1.25rem;
  left: 0;
  line-height: inherit;
  margin: 0;
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 1rem;
  z-index: -1;
}

input#size-3.custom-control-input {
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  height: 1.25rem;
  left: 0;
  line-height: inherit;
  margin: 0;
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 1rem;
  z-index: -1;
}

input#size-4.custom-control-input {
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  height: 1.25rem;
  left: 0;
  line-height: inherit;
  margin: 0;
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 1rem;
  z-index: -1;
}

input#size-5.custom-control-input {
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  height: 1.25rem;
  left: 0;
  line-height: inherit;
  margin: 0;
  opacity: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  width: 1rem;
  z-index: -1;
}

div.col-lg-9.col-md-12 {
  box-sizing: border-box;
  color: #6f6f6f;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: left;
  width: 100%;
}

@media (min-width: 768px) {
  div.col-lg-9.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  div.col-lg-9.col-md-12 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

div.row.pb-3 {
  box-sizing: border-box;
  color: #6f6f6f;
  display: flex;
  flex-wrap: wrap;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 1rem;
  text-align: left;
}

div.col-12.pb-1 {
  box-sizing: border-box;
  color: #6f6f6f;
  flex: 0 0 100%;
  flex: 0 0 100%;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  max-width: 100%;
  padding-bottom: .25rem;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: left;
  width: 100%;
}

div.d-flex.align-items-center.justify-content-between.mb-4 {
  align-items: center;
  box-sizing: border-box;
  color: #6f6f6f;
  display: flex;
  font-family: Poppins, sans-serif;
  justify-content: space-between;
  line-height: 24px;
  margin-bottom: 1.5rem;
  text-align: left;
}

div.container-fluid.pt-5 div.d-flex.align-items-center.justify-content-between.mb-4 form {
  box-sizing: border-box;
}

div.input-group {
  align-items: stretch;
  box-sizing: border-box;
  color: #6f6f6f;
  display: flex;
  flex-wrap: wrap;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  position: relative;
  text-align: left;
  width: 100%;
}

input.form-control {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #edf1ff;
  border-radius: 0;
  box-sizing: border-box;
  color: #495057;
  cursor: text;
  display: block;
  flex: 1 1 auto;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  height: calc(1.5em + .75rem + 2px);
  line-height: 1.5;
  margin: 0;
  min-width: 0;
  overflow: visible;
  padding: .375rem .75rem;
  position: relative;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 1%;
}

input.form-control:focus {
  border-color: #f8f0ef;
  box-shadow: none;
  outline: 0;
  z-index: 3;
}

input.form-control:placeholder {
  color: #999;
  opacity: 1;
}

input.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
  input.form-control {
    transition: none 0s;
  }
}

div.input-group-append {
  box-sizing: border-box;
  color: #6f6f6f;
  display: flex;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  margin-left: -1px;
  text-align: left;
}

span.input-group-text.bg-transparent.text-primary {
  align-items: center;
  background-color: transparent;
  border: 1px solid #edf1ff;
  box-sizing: border-box;
  color: #d19c97;
  display: flex;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0;
  padding: .375rem .75rem;
  text-align: center;
  white-space: nowrap;
}

i.fa.fa-search {
  box-sizing: border-box;
}

div.dropdown.ml-4 {
  box-sizing: border-box;
  color: #6f6f6f;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  margin-left: 1.5rem;
  position: relative;
  text-align: left;
}

button#triggerId.bn.border.dropdown-toggle {
  appearance: button;
  background-color: transparent;
  border: 1px solid #edf1ff;
  border-radius: 0;
  box-sizing: border-box;
  color: #6f6f6f;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  overflow: visible;
  padding: .375rem .75rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button#triggerId.bn.border.dropdown-toggle:focus {
  box-shadow: none;
  outline: 0;
}

button#triggerId.bn.border.dropdown-toggle:hover {
  text-decoration: none;
}

button#triggerId.bn.border.dropdown-toggle:disabled {
  opacity: .65;
}

button#triggerId.bn.border.dropdown-toggle:after {
  border-left: .3em solid transparent;
  border-right: .3em solid transparent;
  border-top-width: .3em;
  content: "";
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
}

button#triggerId.bn.border.dropdown-toggle:empty:after {
  margin-left: 0;
}

@media (prefers-reduced-motion: reduce) {
  button#triggerId.bn.border.dropdown-toggle {
    transition: none 0s;
  }
}

div.dropdown-menu.dropdown-menu-right {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  box-sizing: border-box;
  color: #6f6f6f;
  display: none;
  float: left;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  left: auto;
  line-height: 24px;
  list-style: none;
  list-style: none;
  margin: .125rem 0 0;
  min-width: 10rem;
  padding: .5rem 0;
  position: absolute;
  right: 0;
  text-align: left;
  top: 100%;
  z-index: 1000;
}

a.dropdown-item {
  background-color: transparent;
  border-width: 0;
  box-sizing: border-box;
  clear: both;
  color: #212529;
  cursor: pointer;
  display: block;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 24px;
  list-style: none;
  padding: .25rem 1.5rem;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
}

a.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #16181b;
}

a.dropdown-item:not([href]):not([class]) {
  color: inherit;
}

a.dropdown-item:not([href]):not([class]):hover {
  color: inherit;
}

a.dropdown-item:focus {
  background-color: #f8f9fa;
  color: #16181b;
}

a.dropdown-item:active {
  background-color: #d19c97;
  color: #fff;
}

a.dropdown-item:disabled {
  color: #6c757d;
  pointer-events: none;
}

div.col-lg-4.col-md-6.col-sm-12.pb-1 {
  box-sizing: border-box;
  color: #6f6f6f;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  padding-bottom: .25rem;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: left;
  width: 100%;
}

@media (min-width: 576px) {
  div.col-lg-4.col-md-6.col-sm-12.pb-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  div.col-lg-4.col-md-6.col-sm-12.pb-1 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  div.col-lg-4.col-md-6.col-sm-12.pb-1 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

div.card.product-item.border-0.mb-4 {
  background-clip: border-box;
  background-color: #fff;
  border-width: 0;
  box-sizing: border-box;
  color: #6f6f6f;
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  margin-bottom: 1.5rem;
  min-width: 0;
  overflow-wrap: break-word;
  position: relative;
  text-align: left;
  word-wrap: break-word;
}

div.card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0 {
  background-color: transparent;
  border: 1px solid #edf1ff;
  box-sizing: border-box;
  color: #6f6f6f;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  margin-bottom: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: left;
  word-wrap: break-word;
}

img.img-fluid.w-100 {
  border-style: none;
  box-sizing: border-box;
  color: #6f6f6f;
  font-family: Poppins, sans-serif;
  height: auto;
  line-height: 24px;
  max-width: 100%;
  text-align: left;
  transition: all .5s;
  vertical-align: middle;
  width: 100%;
  word-wrap: break-word;
}
.cat-item .cat-img img,
.product-item .product-img img {
  transition: .5s;
}

.cat-item:hover .cat-img img,
.product-item:hover .product-img img {
  transform: scale(1.2);
}

.product-item .bn:hover {
  color: #D19C97 !important;
}

div.card-body.border-left.border-right.text-center.p-0.pt-4.pb-3 {
  border-left: 1px solid #edf1ff;
  border-right: 1px solid #edf1ff;
  box-sizing: border-box;
  color: #6f6f6f;
  flex: 1 1 auto;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  min-height: 1px;
  padding: 1.5rem 0 1rem;
  text-align: center;
  word-wrap: break-word;
}

h6.text-truncate.mb-3 {
  box-sizing: border-box;
  color: #1c1c1c;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}

div.d-flex.justify-content-center {
  box-sizing: border-box;
  color: #6f6f6f;
  display: flex;
  font-family: Poppins, sans-serif;
  justify-content: center;
  line-height: 24px;
  text-align: center;
  word-wrap: break-word;
}

div.container-fluid.pt-5 div.d-flex.justify-content-center h6 {
  box-sizing: border-box;
  color: #1c1c1c;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
  margin-top: 0;
  text-align: center;
  word-wrap: break-word;
}

h6.text-muted.ml-2 {
  box-sizing: border-box;
  color: #6c757d;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
  margin-left: .5rem;
  margin-top: 0;
  text-align: center;
  word-wrap: break-word;
}

div.container-fluid.pt-5 h6.text-muted.ml-2 del {
  box-sizing: border-box;
}

div.card-footer.d-flex.justify-content-between.bg-light.border {
  background-color: #fff;
  border: 1px solid #edf1ff;
  box-sizing: border-box;
  color: #6f6f6f;
  display: flex;
  font-family: Poppins, sans-serif;
  justify-content: space-between;
  line-height: 24px;
  padding: .75rem 1.25rem;
  text-align: left;
  word-wrap: break-word;
}

a.bn.bn-sm.text-dark.p-0 {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  box-sizing: border-box;
  color: #1c1c1c;
  cursor: pointer;
  display: inline-block;
  font-family: Poppins, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0;
  text-align: center;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  user-select: none;
  vertical-align: middle;
  word-wrap: break-word;
}

a.bn.bn-sm.text-dark.p-0:hover {
  color: #d19c97;
}

a.bn.bn-sm.text-dark.p-0:focus {
  box-shadow: none;
  color: #000;
  outline: 0;
}

a.bn.bn-sm.text-dark.p-0:disabled {
  opacity: .65;
}

@media (prefers-reduced-motion: reduce) {
  a.bn.bn-sm.text-dark.p-0 {
    transition: none 0s;
  }
}

i.fas.fa-eye.text-primary.mr-1 {
  box-sizing: border-box;
  color: #d19c97;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 21px;
  margin-right: .25rem;
  text-align: center;
  word-wrap: break-word;
}

i.fas.fa-shopping-cart.text-primary.mr-1 {
  box-sizing: border-box;
  color: #d19c97;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 21px;
  margin-right: .25rem;
  text-align: center;
  word-wrap: break-word;
}

div.container-fluid.pt-5 div.col-12.pb-1 nav {
  box-sizing: border-box;
}

.pagenavbox {
  top: 0%;
  display: flex;
  position: sticky;
  justify-content: end;
}

ul.pagination.justify-content-center.mb-3 {
  box-sizing: border-box;
  color: #6f6f6f;
  display: flex;
  font-family: Poppins, sans-serif;
  justify-content: center;
  line-height: 24px;
  list-style: none;
  margin-bottom: 1rem;
  margin-top: 0;
  padding-left: 0;
  text-align: left;
}

li.page-item.disabled {
  box-sizing: border-box;
}

a.page-link {
  position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #D19C97;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

a.page-link:hover {
  z-index: 2;
    color: #ba6a62;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

a.page-link:not([href]):not([class]):hover {
  color: inherit;
}

a.page-link:focus {
  z-index: 3;
    outline: 0;
    box-shadow: none;
}
a.page-item:first-child .page-link {
  margin-left: 0;
}

div.container-fluid.pt-5 a.page-link span {
  box-sizing: border-box;
}

span.sr-only {
  border-width: 0;
  box-sizing: border-box;
  clip: rect(0, 0, 0, 0);
  color: #6c757d;
  font-family: Poppins, sans-serif;
  height: 1px;
  line-height: 20px;
  list-style: none;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 1px;
}

li.page-item.active {
  box-sizing: border-box;
}

li.page-item {
  z-index: 3;
    color: #fff;
    background-color: #D19C97;
    border-color: #D19C97;
}



/* body area css end */



/* back to top start */
a.bn.bn-primary.back-to-top {
  animation: action 1s infinite alternate;
  background-color: #d19c97;
  border: 1px solid #d19c97;
  border-radius: 0;
  bottom: 30px;
  box-sizing: border-box;
  color: #212529;
  cursor: pointer;
  display: inline;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: .375rem .75rem;
  position: fixed;
  right: 30px;
  text-align: center;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  user-select: none;
  vertical-align: middle;
  z-index: 11;
}

a.bn.bn-primary.back-to-top:hover {
  background-color: #c5837c;
  border-color: #c17a74;
  color: #fff;
}

a.bn.bn-primary.back-to-top:not([href]):not([class]) {
  color: #6f6f6f;
}

a.bn.bn-primary.back-to-top:not([href]):not([class]):hover {
  color: #6f6f6f;
}

a.bn.bn-primary.back-to-top:focus {
  background-color: #c5837c;
  border-color: #c17a74;
  box-shadow: rgba(183, 138, 135, .5) 0 0 0 .2rem;
  color: #fff;
  outline: 0;
}

a.bn.bn-primary.back-to-top:disabled {
  opacity: .65;
}

@media (prefers-reduced-motion: reduce) {
  .bn {
    transition: none 0s;
  }
}

i.fa.fa-angle-double-up {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #212529;
  cursor: pointer;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  line-height: 1;
  text-align: center;
  text-rendering: auto;
}

i.fa.fa-angle-double-up:before {
  content: "";
}
.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 11;
  animation: action 1s infinite alternate;
}
@keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}
/* back to top end */