/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
     box-sizing: border-box;
}

html {
     background-color: #ecf9ff;
}

body {
     font-family: 'Quicksand', serif;
     font-style: normal;
     font-weight: 400;
     letter-spacing: 0;
     padding: 1rem;
}

.main {
     max-width: 1200px;
     margin: 0 auto;
}
img {
     height: auto;
     max-width: 100%;
     vertical-align: middle;
}

.btn {
     color: #100c0c;
     padding: 0.8rem;
     font-size: 14px;
     text-transform: uppercase;
     border-radius: 20px;
     font-weight: 400;
     display: block;
     width: 50%;
     cursor: pointer;
     border: 2px solid rgba(255, 255, 255, 0.2);
     background: transparent;
}

.btn:hover {
     background-color: rgba(8, 8, 8, 0.12);
}

.cards {
     display: flex;
     flex-wrap: wrap;
     list-style: none;
     margin: 0;
     padding: 0;
}

.cards_item {
     margin-left: auto;
     margin-right: auto;
     display: flex;
     padding: 1rem;
}

@media (min-width: 40rem) {
     .cards_item {
          width: 50%;
     }
}

@media (min-width: 56rem) {
     .cards_item {
          width: 33.3333%;
     }
}

.card {
     background-color: rgb(96, 147, 192);
     border-radius: 0.25rem;
     box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
     display: flex;
     flex-direction: column;
     overflow: hidden;
     border-radius: 20px;
}

.card_content {
     padding: 1rem;
     background: linear-gradient(to bottom left, #1b0b0b 40%, #672b0a 100%);
}

.card_title {
     color: #fcf6f6;
     font-size: 1.1rem;
     font-weight: 700;
     letter-spacing: 1px;
     text-transform: capitalize;
     margin: 0px;
}

.card_text {
     font-family: "Artlist Sans",sans-serif;
     color: #f8f6f6;
     font-size: 0.875rem;
     line-height: 1.5;
     margin-bottom: 1.25rem;
     font-weight: 400;
}
.container {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     text-align: center;
}
.content {
     color: #ecf9ff;
     font-weight: bold;
}
#texty {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 1rem;
     color: gold;
     text-align: center;
     padding-top: 1rem;
     display: none;
}

.button {
     font-family: sans-serif;
     font-weight: 700;
     width: 120px;
     height: 40px;
     color: white;
     background-color: #232527;
     border-radius: 10px;
     transition: ease-out 0.3s;
     font-size: 1rem;
     outline: none;
     animation: glow 1s infinite;
}

@keyframes glow {
     0% {
          box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
     }

     50% {
          box-shadow: 5px 5px 20px rgb(119, 240, 228), -5px -5px 20px rgb(81, 224, 210)
     }

     100% {
          box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168)
     }
}