<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Assigment 2 - Group 23</title>
        <meta name="description" content=" ">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/card.css">
    </head>

    <body>
        <nav>
            <ul class="nav-links">
                <li><a href="main.html">Home</a></li>
                <li><a href="market.html">Market</a></li>
                <li><a href="modelform.html">Customer Form</a></li>
        </nav>
        
        <h3>Customer Form</h3>
        <hr>

        <form action="" method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit">
        </form>

    </body>
    
</html>